BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 0
SortIncludes: false
AlignConsecutiveMacros: true
PointerAlignment: Right
SpaceBeforeParens: Always
SpaceAfterCStyleCast: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
Cpp11BracedListStyle: false
KeepEmptyLinesAtTheStartOfBlocks: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterStruct: false
  AfterEnum: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeElse: false
  SplitEmptyFunction: true
